.env
secret.yaml
*-kubeconfig.yaml

charts/**/charts/
# no you are not getting my secrets
monitoring/**/charts/

**/tls/*.pem
**/tls/*.csr

**/roles/geerlingguy.*

*.log
node_modules
# nix flake
**/result
